*.log
*.pot
*.pyc
__pycache__/
db.sqlite3
media
MANIFEST
dist/
docs/_build/
docs/locale/
node_modules/
tests/coverage_html/
tests/.coverage
build/
tests/report/
.pytest_cache/
.env
certs/*
launch.json
tasks.json
